.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-3xl);
    background-color: #ffffff;
}

.layout__main--no-footer {
    padding-bottom: 0;
}

.layout__main--no-footer > * {
    flex: 1;
}